server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true

spring:
  application:
    name: apigateway-service

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest

  cloud:
    gateway:
      default-filters:
        - name: GlobalFilter
          args:
            baseMessage: Spring Cloud Gateway Global Filter
            preLogger: true
            postLogger: true
      routes:
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/order-service/**
        - id: catalog-service
          uri: lb://CATALOG-SERVICE
          predicates:
            - Path=/catalog-service/**
#        - id: user-service-register
#          uri: lb://USER-SERVICE
#          predicates:
#            - Path=/user-service/users
#            - Method=POST
#          filters:
#            - RemoveRequestHeader=Cookie
#            - RewritePath=/user-service/(?<segment>.*), /$\{segment} #rewritePath : requestUrl 재지정.  콤마값 잎에 있는것이 사용자 요청주소. 뒤에 있는것이 재지정 주소.
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/login
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/users #회원가입. 회원가입시 jwt검증이 필요하지 않으므로 별도 구분.
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/actuator/**
            - Method=GET,POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user-service/** #GET 메소드 + User-service접근시에는 Jwt 인증/인가 처리된 대상만 통과.
            - Method=GET
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/user-service/(?<segment>.*), /$\{segment}
            - AuthorizationHeaderFilter #jwt 검증.
        - id: first-service
          #          uri: http://localhost:8081/
          uri: lb://MY-FIRST-SERVICE #로드밸런싱을 위해 유레카에 등록한 서비스명을 기입.
          predicates:
            - Path=/first-service/**
          filters:
            #            - AddRequestHeader=first-request, first-request-header2
            #            - AddResponseHeader=first-response, first-response-header2
            - CustomFilter
        - id: second-service
          #          uri: lb://http://localhost:8082/
          uri: lb://MY-SECOND-SERVICE #로드밸런싱을 위해 유레카에 등록한 서비스명을 기입.
          predicates:
            - Path=/second-service/**
          filters:
            #            - AddRequestHeader=second-request, second-request-header2
            #            - AddResponseHeader=second-response, second-response-header2
            - name: CustomFilter
            - name: LoggingFilter
              args:
                baseMessage: Hi, there.
                preLogger: true
                postLogger: true

management:
  endpoint:
    web:
      expoure:
        include: refresh, health, beans, httptrace, busrefresh, info, metrics, prometheus
#        include:
#          - refresh
#          - health
#          - beans
#          - info
#          - httpexchanges #스프링클라우드 3점대 미만 버젼에서는 httptrace

#token:
#  secret : my-very-long-secret-key-1234567890123456
